.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.top-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  position: sticky;
}

.user-circle-container {
  flex: 0 0 auto; /* Prevent flex-grow and keep size fixed */
  display: flex;
  justify-content: flex-start;
}

.user-circle {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
}

.user-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-container {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  text-align: center;
}

.welcome-text {
  font-size: 32px;
  margin: 2px;
  padding: 2px;
}

.IconDiv {
  border-radius: 60px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.block {
  position: relative;
  width: 300px;
  height: 100px;
  background-color: #eee;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  text-align: left;
  margin-right: 30px;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(255, 255, 255, 0.9);
}

.block p {
  font-family: "Tenor Sans", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
  color: black;
}

.block:nth-child(1) {
  background-image: url('public/Images/wardrobe.jpeg');
  opacity: 0.8;
}

.block:nth-child(2) {
  background-image: url('public/Images/hangerBanner.jpeg');
  opacity: 0.8;
}

.block:nth-child(3) {
  background-image: url('public/Images/clothings.jpeg');
  opacity: 0.8;
}

.block:nth-child(4) {
  background-image: url('public/Images/create look.jpeg');
  opacity: 0.8;
}

.logo img {
  width: 50px;
  height: 50px;
}


.Loading{
  font-size: 30px;
}