.app-container {
    text-align: center;
  }
  
  .icon-section {
    display: flex;
    flex-direction: column; /* שינוי לכיוון אנכי */
    align-items: center;
    margin-top: 20px;
  }
  
  .icon-container {
    position: relative;
    /* margin-bottom: 20px; מרווח בין האייקונים */
  }
  
  .icon-button {
    position: absolute; /* האייקון יישאר במקום אחרי התצוגה ויהיה נראה גם במקום אחר */
    top: 50%; /* מיקום אנכי באמצעות ההתחלה מאמצע האלמנט האב */
    left: 50%; /* מיקום אופקי באמצעות ההתחלה מאמצע האלמנט האב */
    transform: translate(-50%, -50%); /* תיקוני תצורה של האייקון כך שיהיה במרכז האב */
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff;
    color: black;
  }
  
  .icon {
    font-size: 200px;
    margin-top: 40px;
    color: #000; /* הגדרת הצבע לשחור */
  }
  
  .selected-outfit {
    margin-top: 20px;
  }
  
  .selected-item {
    margin: 10px 0;
  }
  
  .selected-item img {
    width: 100px;
    height: auto;
  }
  
  .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    margin: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .item img {
    width: 50px;
    height: auto;
  }
  
  .item span {
    display: block;
    margin-top: 5px;
  }
  
  img.icon {
    width: 150px;
}
.Calendar{
    background-color: grey;
    
}
.react-calendar__navigation button,.react-calendar__month-view__weekdays__weekday,.react-calendar__month-view__days__day--weekend,.react-calendar.react-calendar button{
    color: #fff;
}
.react-calendar {
    background-color: #676464;
}
.h4{
    color: grey;
}