.containerW {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .header {
    flex: 0 0 auto;
  }
  
  .clothing-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  
  .clothing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .clothing-image img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .NavbarFooter {
    flex: 0 0 auto;
  }
  